﻿@model Vclean.Models.DetailCompanyView

@{
    ViewBag.Title = "Details";
}



<div>



    <h2>@Html.DisplayFor(model => model.Name)</h2>
    @if (!string.IsNullOrEmpty(Model.ImagePath))
    {
        <img src="@Url.Content(Model.ImagePath)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto; border-style:solid; border:1;" />
    }

</div>

<hr />
@Html.ActionLink("Back to List", "Index", " ", new { @class = "pull-right" })
<h4>Sites</h4>

<div class="container bg-info" style="height:54px;">
    @using (Html.BeginForm("AddSite", "Companies", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CompanyId)

        <div class="form-inline" style="padding: 10px; margin-left: 30px;">
            <div class="form-group">
                @Html.EditorFor(model => model.SiteName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Building" } })
                @Html.ValidationMessageFor(model => model.SiteName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.OptionalAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Optional address" } })
                @Html.ValidationMessageFor(model => model.OptionalAddress, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "City" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.PostCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Post code" } })
                @Html.ValidationMessageFor(model => model.PostCode, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-outline-info pull-right" />
            </div>
        </div>
    }
</div>
<p></p>
@if (Model.Sites.Count == 0)
{
    <h5>No Sites</h5>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sites.FirstOrDefault().SiteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sites.FirstOrDefault().Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sites.FirstOrDefault().OptionalAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sites.FirstOrDefault().City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sites.FirstOrDefault().PostCode)
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model.Sites)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OptionalAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostCode)
                </td>
                <td>
                    <a href="@Url.Action("EditSite","Companies", new { id = item.SiteId })" style="text-decoration:none; color:orange;">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a> &nbsp; | &nbsp;

                    <a href="@Url.Action("DeleteSite","Companies", new { id = item.SiteId })" style="text-decoration:none; color: red;">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
}

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.CompanyId }) |*@

</p>
